<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909206631410-5df69cv022gdk0hqo5hsgmugk8u7d1dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909206631410-5df69cv022gdk0hqo5hsgmugk8u7d1dq</string>
	<key>API_KEY</key>
	<string>AIzaSyBujqYwWfj2Q9Osg_b6uRgqsAWlONBs3VU</string>
	<key>GCM_SENDER_ID</key>
	<string>909206631410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projPi</string>
	<key>PROJECT_ID</key>
	<string>projetopi-7a832</string>
	<key>STORAGE_BUCKET</key>
	<string>projetopi-7a832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909206631410:ios:0e543443d1c540e053b16b</string>
</dict>
</plist>